node_modules
.next
out
dist
dist-electron
release
.env
.env.local
*.tsbuildinfo
next-env.d.ts

.vercel

# Local Netlify folder
.netlify

# Local isolated workspaces created by coding agents
.worktrees/
